<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>Club Culture</title>
  </head>
  <body>

<!-- Navigation - Start -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">CC</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav navbar-left">

      
      <li class="nav-item">
        <a class="nav-link" href="#">Gallery</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="#">Events</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="#">Apparel</a>
      </li>


      <li class="nav-item">
        <a class="nav-link" href="#">Support</a>
      </li>

      </ul>

    


  </div>
</nav>













<!-- Navigation - End -->





<div id="banner" class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">CLUB CULTURE</h1>
    <p class="lead">The centeralised platform for your clubbing experience. Join the club, be one with the culture. </p>
  </div>
</div>






{% block content %}
{% endblock %}









<!-- Footer - Start -->
<!-- Footer -->
<footer class="page-footer font-small unique-color-dark">

  <div id="footer">
    <div class="container">

      <!-- Grid row-->
      <div class="row py-4 d-flex align-items-center">

        <!-- Grid column -->
        <div class="col-md-6 col-lg-5 text-center text-md-left mb-4 mb-md-0">
          <h6 class="mb-0">Join the club, be one with the culture.</h6>
        </div>
        <!-- Grid column -->
        <!-- Grid column -->
        <div class="col-md-6 col-lg-7 text-center text-md-right">

          <!-- Facebook -->
          <a class="fb-ic">
            <i class="fab fa-facebook-f white-text mr-4"> </i>
          </a>
          <!-- Twitter -->
          <a class="tw-ic">
            <i class="fab fa-twitter white-text mr-4"> </i>
          </a>
          <!-- Google +-->
          <a class="gplus-ic">
            <i class="fab fa-google-plus-g white-text mr-4"> </i>
          </a>
          <!--Linkedin -->
          <a class="li-ic">
            <i class="fab fa-linkedin-in white-text mr-4"> </i>
          </a>
          <!--Instagram-->
          <a class="ins-ic">
            <i class="fab fa-instagram white-text"> </i>
          </a>

        </div>
        <!-- Grid column -->

      </div>
      <!-- Grid row-->

    </div>
  </div>

  <!-- Footer Links -->
  <div class="container text-center text-md-left mt-5">

    <!-- Grid row -->
    <div class="row mt-3">

      <!-- Grid column -->
      <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">

        <!-- Content -->
        <h6 class="text-uppercase font-weight-bold">CLUB CULTURE</h6>
        <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p>The centeralised platform for your clubbing experience.</p>

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">

        <!-- Links -->
        <h6 class="text-uppercase font-weight-bold">Services</h6>
        <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">

        <p>
          <a href="#!">Club Events</a>
        </p>
        
        <p>
          <a href="#!">Gallery</a>
        </p>

        <p>
          <a href="#!">Apparel</a>
        </p>

        <p>
          <a href="#!">Table Service</a>
        </p>

        <p>
          <a href="#!"></a>
        </p>


      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">

        <!-- Links -->
        <h6 class="text-uppercase font-weight-bold">Useful links</h6>
        <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p>
          <a href="#!">Personal Account</a>
        </p>
        <p>
          <a href="#!">Venue Account</a>
        </p>
        <p>
          <a href="#!">FAQs</a>
        </p>
        <p>
          <a href="#!">Help</a>
        </p>

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">

        <!-- Links -->
        <h6 class="text-uppercase font-weight-bold">Contact</h6>
        <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p>Belfast, UK</p>
        <p>info@clubculture.co</p>
<!-- 
        <p><i class="fas fa-home mr-3"></i>Belfast, UK</p>
        <p><i class="fas fa-envelope mr-3"></i>info@clubculture.co</p>
        <p> -->

          <!-- <i class="fas fa-phone mr-3"></i> PhoneNumber</p>
        <p>
          <i class="fas fa-print mr-3"></i> PhoneNumber</p> -->

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2021 Copyright:
    <a href="#">Clubculture, Inc</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->

<!-- Footer - End -->


    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </body>
</html>



<style>
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');



  
body {
  font-family: 'Righteous', cursive;
}

#logo {
  height: 55px;
  width: auto;
}

#footer, #banner {
  background: linear-gradient(90deg, #4b6cb7 0%, #182848 100%);
  color: white;

}


</style>